Repository yannbf/rabo-validator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, lint, sasslint

.lintstagedrc.yml:

{
  "concurrent": false,
  "linters": {
    "src/**/*.{ts,scss,json}": ["prettier --write"],
    "src/**/*.ts": ["lint"],
    "{src/*.scss, src/**/*.scss}": ["sasslint"],
    "*": ["git add"]
  }
}

chore: add sample XML and CSV files
  src/assets/sample/records.csv
  src/assets/sample/records.xml
Due: none

feat(file-input): add ngx-file-input component
  package.json
  src/app/app.module.ts
  src/app/pages/home/home.component.ts
  src/styles.scss
  yarn.lock
Due: prettier --write, lint, sasslint

feat(file-input): add input file on home page
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.ts
Due: prettier --write, lint

feat(package): add xml2js library
  package-lock.json
  package.json
  yarn.lock
Due: none

feat(converter): add format converter service
  src/app/app.module.ts
  src/app/services/format-converter.service.spec.ts
  src/app/services/format-converter.service.ts
Due: prettier --write, lint

feat(home): add converter method to home
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.ts
Due: prettier --write, lint

refactor(types): move transaction to its own file
  src/app/pages/home/home.component.ts
  src/app/shared/types/Transaction.ts
Due: prettier --write, lint

fix(transaction-type): remove type definition for $
  src/app/shared/types/Transaction.ts
Due: prettier --write, lint

feat(validation): add balance validations to transactions
  src/app/pages/home/home.component.ts
  src/app/shared/types/Transaction.ts
Due: prettier --write, lint

feat(validation): add properties validation
  src/app/pages/home/home.component.ts
  src/app/shared/types/Transaction.ts
  src/app/shared/util/index.ts
Due: prettier --write, lint

feat(validations): add validation for duplicate ids
  src/app/pages/home/home.component.ts
  src/app/shared/util/index.ts
Due: prettier --write, lint

fix(enums): enable const enum preservation
  tsconfig.json
Due: none

feat(util): add camelize function
  src/app/shared/util/index.ts
Due: prettier --write, lint

feat(package): add papaparse to project
  package.json
  src/app/app.module.ts
  yarn.lock
Due: prettier --write, lint

feat(converter): add CSV conversion
  src/app/pages/home/home.component.ts
  src/app/services/format-converter.service.ts
Due: prettier --write, lint

style(variables): change primary and secondary colors
  src/app/theme/variables.scss
Due: prettier --write

refactor(converter): adjust csv and xml data processing
  src/app/services/format-converter.service.ts
Due: prettier --write, lint

refactor(types): change reference structure
  src/app/shared/types/Transaction.ts
Due: prettier --write, lint

refactor(validation): change validation function to new structure
  src/app/shared/util/index.ts
Due: prettier --write, lint

refactor(validation): tweak validation code for better errors
  src/app/pages/home/home.component.ts
  src/app/shared/types/Transaction.ts
Due: prettier --write, lint

feat(table): add transaction table component
  src/app/app.module.ts
  src/app/components/transactions-table/transactions-table.component.html
  src/app/components/transactions-table/transactions-table.component.scss
  src/app/components/transactions-table/transactions-table.component.spec.ts
  src/app/components/transactions-table/transactions-table.component.ts
  src/app/pages/home/home.component.html
  src/styles.scss
Due: prettier --write, lint, sasslint

styles(fonts): add 'Source Sans' font to project
  src/styles.scss
Due: prettier --write, sasslint

chore(sass-lint): update url domain rules
  .sass-lint.yml
Due: none

fix: add font file
  src/assets/fonts/MyriadPro-Regular.otf
Due: none

refactor(main): update text and add logo
  src/app/app.component.html
  src/app/app.component.scss
  src/assets/icons/rabologo.png
Due: prettier --write

feat(data-table): use angular2-datatable component
  package.json
  src/app/app.module.ts
  src/app/components/transactions-table/transactions-table.component.html
  src/app/components/transactions-table/transactions-table.component.scss
  src/app/components/transactions-table/transactions-table.component.ts
  yarn.lock
Due: prettier --write, lint

refactor(main): remove unnecessary section
  src/app/pages/home/home.component.html
Due: none

feat(lib): add ngx-toastr to project
  package.json
  src/app/app.module.ts
  src/styles.scss
  yarn.lock
Due: prettier --write, lint, sasslint

style(header): hide logo when going mobile
  src/app/app.component.scss
Due: prettier --write

feat(transactions-table): display toast with error for invalid items
  src/app/components/transactions-table/transactions-table.component.html
  src/app/components/transactions-table/transactions-table.component.scss
  src/app/components/transactions-table/transactions-table.component.ts
Due: prettier --write, lint

refactor(validation): small tweaks
  src/app/services/format-converter.service.ts
  src/app/shared/types/Transaction.ts
Due: prettier --write, lint

feat(home): handle errors nicely with toastr
  src/app/pages/home/home.component.html
  src/app/pages/home/home.component.ts
Due: prettier --write, lint

feat(util): add XML validation function
  src/app/shared/util/index.ts
Due: prettier --write, lint

feat(format-converter): add xml validation to conversion method
  src/app/services/format-converter.service.ts
Due: prettier --write, lint

chore(mocks): add mock data for testing
  src/app/mocks/index.ts
Due: prettier --write, lint

refactor(ng2-file-input): change drop text
  src/app/app.module.ts
Due: prettier --write, lint

refactor: small tweaks
  src/app/app.component.ts
  src/app/components/transactions-table/transactions-table.component.scss
  src/app/pages/home/home.component.ts
Due: prettier --write, lint

test(app): add tests for app-component
  src/app/app.component.spec.ts
Due: prettier --write, lint

test(home): add tests for home component
  src/app/pages/home/home.component.spec.ts
Due: prettier --write, lint

test(transactions-table): add tests
  src/app/components/transactions-table/transactions-table.component.spec.ts
Due: prettier --write, lint
